{% set topbar_title = "Quadratic Neural Network" %}
{% set topbar_subtitle = "Training, prediction, and model comparison workspace" %}
{% set topbar_action_href = "/dataset-generator" %}
{% set topbar_action_label = "Open Dataset Generator" %}
{% extends "base.html" %}

{% block page_styles %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/pages/index.css') }}" />
{% endblock %}

{% block content %}
  <div class="container">
    <div class="main-layout">
      {% include "partials/index/sidebar.html" %}
      <main class="main-content">
        {% include "partials/index/dashboard_section.html" %}
        {% include "partials/index/data_section.html" %}
        {% include "partials/index/training_section.html" %}
        {% include "partials/index/model_management_section.html" %}
        {% include "partials/index/prediction_section.html" %}
        {% include "partials/index/analysis_section.html" %}
        {% include "partials/index/comparison_section.html" %}
      </main>
    </div>
  </div>

  <input type="file" id="file-input" accept=".csv" style="display: none" />
{% endblock %}

{% block scripts %}
  <script src="{{ url_for('static', filename='js/core/state-api-utils.js') }}"></script>
  <script src="{{ url_for('static', filename='js/sections/navigation.js') }}"></script>
  <script src="{{ url_for('static', filename='js/sections/data.js') }}"></script>
  <script src="{{ url_for('static', filename='js/sections/training.js') }}"></script>
  <script src="{{ url_for('static', filename='js/sections/model.js') }}"></script>
  <script src="{{ url_for('static', filename='js/sections/prediction.js') }}"></script>
  <script src="{{ url_for('static', filename='js/sections/analysis.js') }}"></script>
  <script src="{{ url_for('static', filename='js/sections/comparison.js') }}"></script>
  <script src="{{ url_for('static', filename='js/sections/actions.js') }}"></script>
  <script src="{{ url_for('static', filename='js/main.js') }}"></script>
{% endblock %}
